body {
  background-color: #A9A9A9;
}

.register-button {
  margin-top: 1em;
}

.register-form {
  margin-top: 1em;
}

.register-radio {
  text-align: center;
}

.welcome {
  text-align: center;
  font-family: fantasy;
  color: #2F4F4F;
}

.register-login-button {
  text-align: center;
  margin-top: 3em;
  font-family: fantasy;
  color: #2F4F4F;
}

.login-form {
  margin-top: 50%;
}

.login-h1 {
  text-align: center;
  color: #2F4F4F;
}

.login-h3{
  text-align: center;
  color: #2F4F4F;
  margin-bottom: 2em;
}

.login-error-message {
  text-align: center;
  color: #B22222;
  margin-top: 10em;
}

.info-friends-div {
  max-height: 450px;
}



.friends-list-div {
  height: 450px;
  border-radius: 10px;
  overflow-y: scroll;
  padding: 0px;
  background-color: #D3F1F5;
  text-align: center;
}


.personal-info {
  text-align: center;
  height: 450px;
  background-color: #D3D9DB;
  border-radius: 5%;
}

.friend-buttons {
  margin: 5px;
}

.sugested-friends-div {
  padding-left: 0px;
  padding-left: 0px;
  border-radius: 10px;
  background-color: #CEEAED;
  margin: 0;
  min-height: 300px;
}

.personal-info-div {
  margin-top: 20%;
  font-family: fantasy;
}

.friends-text {
  font-family: fantasy;
  color: #2F4F4F;
}

.personal-text {
  font-family: fantasy;
  color: #2F4F4F;
  font-size: 2em;
}

.personal-h1 {
  font-family: fantasy;
  color: #2F4F4F;
  font-size: 4em;
}

.my-friends-h3 {
  font-family: fantasy;
  color: #2F4F4F;
}

.friend {
  padding: 0;
  text-align: center;
  background-color: #A2B5B8;
  border-radius: 5px;
}

.friend-sugest {
  border: 1px solid #A0A3A3;
  padding: 0;
  text-align:center;
  background-color: #A2B5B8;
  border-radius: 5px;
}

.sugest-h3 {
  color: #2F4F4F;
  font-family: fantasy;
  text-align: center;
  padding: 5px;
}

.search-list-h3 {
  color: #B8860B;
  font-family: fantasy;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.friends-friends-list {
  text-align: center;
  background-color: #A2B5B8;
  border-radius: 5px;
}

.message-p {
  color: #2F4F4F;
  text-align: center;
  font-size: 2em;
  font-family: fantasy;
}

/*.loguot-button {
margin-bottom: 20px;
margin-left: 80%;
}*/

.popup-list {
  z-index: 100;
  position: fixed;
  margin-top: 15%;
  margin-left: 35%;
  background-color: #636666;
  width: 30%;
  height: 350px;
  overflow-y: scroll;
  border: 5px solid #444E4F;
  border-radius: 15px;
}

.footer {
  text-align: center;
  margin-top: 10px;
  background-color: #32686E;
  border-radius: 10px;
  padding: 0;
}

.search-bar {
  margin-top: 20px;
}

.footer-p {
  margin-top: 10px;
  font-family: fantasy;
  color: #D9F7FA;
  font-weight: bold;
}
