body {
  background-color: yellow;
}

form {
  text-align: center;
  margin-top: 15%;
}
form input {
  position: relative;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.register-button {
  background-color: #2CBBBB;
  border: 1px solid #27A0A0;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 1em;
  padding: 0.3em 0.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.personal-info {
  text-align: center;
  background-color: blue;
  border-radius: 5%;
}

.friends-list {
  text-align: center;
  border-radius: 5%;
  background-color: grey;
}

.friend {
  text-align: center;
  background-color: green;
  border: 1px solid black;
  border-radius: 5%;
}

.sugested-friends-list {
  text-align: center;
  border-radius: 5%;
  background-color: purple;
}

.friends-friends-list {
  text-align: center;
  background-color: red;
  border-radius: 5%;
}

.popup-list {
  position: fixed;
  margin-left: 35%;
  background-color: blue;
  width: 30%;
  height: 350px;
  overflow-y: scroll;
  border: 3px solid orange;
  border-radius: 7px;
}

.close-popup-button {
  text-align: center;
  width: 50%;
}

button {
  margin: 5px;
}
